# DataFrame Operations

In [6]:
import os
os.environ['SPARK_HOME'] = r"C:\Users\Dani\Documents\Python Scripts\Spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'
os.environ["HADOOP_HOME"] = r"C:\hadoop\hadoop-3.2.2"
os.environ["PATH"] += r";C:\hadoop\hadoop-3.2.2\bin"

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [8]:
spark = SparkSession.builder.appName("DataFrame-Operations").getOrCreate()

In [9]:
parquet_path = "data/house-price.parquet"
df = spark.read.parquet(parquet_path)
df.printSchema()
df.show(5)

root
 |-- price: long (nullable = true)
 |-- area: long (nullable = true)
 |-- bedrooms: long (nullable = true)
 |-- bathrooms: long (nullable = true)
 |-- stories: long (nullable = true)
 |-- mainroad: string (nullable = true)
 |-- guestroom: string (nullable = true)
 |-- basement: string (nullable = true)
 |-- hotwaterheating: string (nullable = true)
 |-- airconditioning: string (nullable = true)
 |-- parking: long (nullable = true)
 |-- prefarea: string (nullable = true)
 |-- furnishingstatus: string (nullable = true)

+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price|area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000|7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000|8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000|9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
|12215000|7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|
|11410000|7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 5 rows

## Choose Specific Column

In [12]:
selected_cols = df.select("price", "area", "bedrooms", "bathrooms")
selected_cols.show(5)

+--------+----+--------+---------+
|   price|area|bedrooms|bathrooms|
+--------+----+--------+---------+
|13300000|7420|       4|        2|
|12250000|8960|       4|        4|
|12250000|9960|       3|        2|
|12215000|7500|       4|        2|
|11410000|7420|       4|        1|
+--------+----+--------+---------+
only showing top 5 rows

## Filter on any condition

In [15]:
filtered_df = selected_cols.filter((selected_cols.bedrooms > 3) & (selected_cols.bathrooms < 2))
filtered_df.show(5)

+--------+-----+--------+---------+
|   price| area|bedrooms|bathrooms|
+--------+-----+--------+---------+
|11410000| 7420|       4|        1|
| 9870000| 8100|       4|        1|
| 9100000| 6000|       4|        1|
| 8120000| 6840|       5|        1|
| 7343000|11440|       4|        1|
+--------+-----+--------+---------+
only showing top 5 rows

In [17]:
check = filtered_df.agg({"bedrooms": "min", "bathrooms":"max"})
check.show()

+-------------+--------------+
|min(bedrooms)|max(bathrooms)|
+-------------+--------------+
|            4|             1|
+-------------+--------------+

## GroupBy

In [22]:
df.show()

+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price| area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000| 7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000| 8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000| 9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
|12215000| 7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|
|11410000| 7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|
|10850000| 7500|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|
|10150000| 8580|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|
|10150000|16200|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|
| 9870000| 8100|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|
| 9800000| 5750|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|
| 9800000|13200|       3|        1|      2|     yes|       no|     yes|             no|            yes|      2|     yes|       furnished|
| 9681000| 6000|       4|        3|      2|     yes|      yes|     yes|            yes|             no|      2|      no|  semi-furnished|
| 9310000| 6550|       4|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
| 9240000| 3500|       4|        2|      2|     yes|       no|      no|            yes|             no|      2|      no|       furnished|
| 9240000| 7800|       3|        2|      2|     yes|       no|      no|             no|             no|      0|     yes|  semi-furnished|
| 9100000| 6000|       4|        1|      2|     yes|       no|     yes|             no|             no|      2|      no|  semi-furnished|
| 9100000| 6600|       4|        2|      2|     yes|      yes|     yes|             no|            yes|      1|     yes|     unfurnished|
| 8960000| 8500|       3|        2|      4|     yes|       no|      no|             no|            yes|      2|      no|       furnished|
| 8890000| 4600|       3|        2|      2|     yes|      yes|      no|             no|            yes|      2|      no|       furnished|
| 8855000| 6420|       3|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 20 rows

In [40]:
grouped_data = df.groupBy("area").agg(
    F.mean("price").alias("mean_price"),
    F.median("price").alias("median_price"),
    F.stddev("price").alias("stddev_price"),
    F.mean("bathrooms").alias("mean_bathrooms"),
    F.count(F.when(F.col("basement") == "yes", F.col("area"))).alias("houses_with_basement"),
    F.count(F.when(F.col("guestroom") == "yes", F.col("area"))).alias("houses_with_guestroom"),
    F.sum(F.col("price")).alias("total_price")).orderBy(F.desc("houses_with_guestroom"), F.asc("mean_price"))

grouped_data.show()

+----+------------------+------------+------------------+------------------+--------------------+---------------------+-----------+
|area|        mean_price|median_price|      stddev_price|    mean_bathrooms|houses_with_basement|houses_with_guestroom|total_price|
+----+------------------+------------+------------------+------------------+--------------------+---------------------+-----------+
|6000| 7051479.166666667|   7280000.0|1362431.8848483576|1.7083333333333333|                   5|                    9|  169235500|
|5500| 5762555.555555556|   5873000.0| 1307983.190938545|1.5555555555555556|                   4|                    4|   51863000|
|6600| 6443111.111111111|   6230000.0|1227408.1884650725|1.6666666666666667|                   7|                    4|   57988000|
|4800|         5742800.0|   5810000.0|495583.19180537184|               1.4|                   3|                    3|   28714000|
|6900|         5771500.0|   5771500.0|351432.07024971413|               1.5|                   2|                    2|   11543000|
|5960|         5915000.0|   5915000.0| 3217335.854398791|               2.0|                   2|                    2|   11830000|
|6540|         6580000.0|   5950000.0|1733118.5764395925|1.6666666666666667|                   2|                    2|   19740000|
|3090|         3045000.0|   3045000.0|49497.474683058324|               1.0|                   1|                    1|    6090000|
|3986|         3150000.0|   3150000.0|              null|               2.0|                   1|                    1|    3150000|
|3000|         3309000.0|   3038000.0|1154275.0638720924|1.0714285714285714|                   5|                    1|   46326000|
|4785|         3395000.0|   3395000.0|              null|               1.0|                   1|                    1|    3395000|
|3630|         3515000.0|   3675000.0| 718099.3431738165|1.4285714285714286|                   1|                    1|   24605000|
|5850|         3570000.0|   3570000.0| 890954.5442950499|               1.0|                   2|                    1|    7140000|
|3750|         3605000.0|   3360000.0| 748214.5414251182|               1.0|                   1|                    1|   10815000|
|6060|         3706500.0|   3706500.0| 589019.9487283941|               1.0|                   2|                    1|    7413000|
|4050|         3850000.0|   3850000.0| 197989.8987322333|               1.0|                   1|                    1|    7700000|
|2176|         3850000.0|   3850000.0|              null|               1.0|                   0|                    1|    3850000|
|3240|3855833.3333333335|   3010000.0|1970000.5287647343|               1.0|                   0|                    1|   11567500|
|3780|         3885000.0|   3885000.0|              null|               1.0|                   1|                    1|    3885000|
|7260|         3920000.0|   3920000.0|              null|               2.0|                   1|                    1|    3920000|
+----+------------------+------------+------------------+------------------+--------------------+---------------------+-----------+
only showing top 20 rows

## Join multiple dataframes

In [43]:
df2 = df.select("area", "price", "bathrooms", "guestroom")
joined_data = df.join(df2, ["area", "price"], "inner")
print("Joined Data:")
joined_data.show()

Joined Data:
+-----+--------+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+---------+---------+
| area|   price|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|bathrooms|guestroom|
+-----+--------+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+---------+---------+
| 7420|13300000|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|        2|       no|
| 8960|12250000|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|        4|       no|
| 9960|12250000|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|        2|       no|
| 7500|12215000|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|        2|       no|
| 7420|11410000|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|        1|      yes|
| 7500|10850000|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|        3|       no|
| 8580|10150000|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|        3|       no|
|16200|10150000|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|        3|       no|
| 8100| 9870000|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|        1|      yes|
| 5750| 9800000|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|        2|      yes|
|13200| 9800000|       3|        1|      2|     yes|       no|     yes|             no|            yes|      2|     yes|       furnished|        1|       no|
| 6000| 9681000|       4|        3|      2|     yes|      yes|     yes|            yes|             no|      2|      no|  semi-furnished|        3|      yes|
| 6550| 9310000|       4|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|        2|       no|
| 3500| 9240000|       4|        2|      2|     yes|       no|      no|            yes|             no|      2|      no|       furnished|        2|       no|
| 7800| 9240000|       3|        2|      2|     yes|       no|      no|             no|             no|      0|     yes|  semi-furnished|        2|       no|
| 6000| 9100000|       4|        1|      2|     yes|       no|     yes|             no|             no|      2|      no|  semi-furnished|        1|       no|
| 6600| 9100000|       4|        2|      2|     yes|      yes|     yes|             no|            yes|      1|     yes|     unfurnished|        2|      yes|
| 8500| 8960000|       3|        2|      4|     yes|       no|      no|             no|            yes|      2|      no|       furnished|        2|       no|
| 4600| 8890000|       3|        2|      2|     yes|      yes|      no|             no|            yes|      2|      no|       furnished|        2|      yes|
| 6420| 8855000|       3|        2|      2|     yes|       no|      no|             no|            yes|      1|     yes|  semi-furnished|        2|       no|
+-----+--------+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+---------+---------+
only showing top 20 rows

## Get unique rows

In [44]:
distinct_areas = df.select("area").distinct()
distinct_areas.show()

+-----+
| area|
+-----+
| 1950|
| 3800|
| 5850|
| 2520|
| 3120|
| 7424|
| 3069|
| 7800|
| 3640|
| 3680|
| 4300|
| 2175|
| 2400|
|10240|
| 6862|
| 1905|
| 3930|
|13200|
| 3240|
| 5400|
+-----+
only showing top 20 rows

## Drop Columns

In [47]:
joined_data = joined_data.drop("bathrooms", "guestroom")
joined_data.show(5)

+----+--------+--------+-------+--------+--------+---------------+---------------+-------+--------+----------------+
|area|   price|bedrooms|stories|mainroad|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+----+--------+--------+-------+--------+--------+---------------+---------------+-------+--------+----------------+
|7420|13300000|       4|      3|     yes|      no|             no|            yes|      2|     yes|       furnished|
|8960|12250000|       4|      4|     yes|      no|             no|            yes|      3|      no|       furnished|
|9960|12250000|       3|      2|     yes|     yes|             no|             no|      2|     yes|  semi-furnished|
|7500|12215000|       4|      2|     yes|     yes|             no|            yes|      3|     yes|       furnished|
|7420|11410000|       4|      2|     yes|     yes|             no|            yes|      2|      no|       furnished|
+----+--------+--------+-------+--------+--------+---------------+---------------+-------+--------+----------------+
only showing top 5 rows

## WithColumn: Add new calculated columns.

In [48]:
df.show(3)

+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price|area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000|7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000|8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000|9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 3 rows

In [49]:
df_with_new_column = df.withColumn("total_places", df.bedrooms + df.bathrooms + df.stories)
print("DataFrame with New Column:")
df_with_new_column.show(10)

DataFrame with New Column:
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+------------+
|   price| area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|total_places|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+------------+
|13300000| 7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|           9|
|12250000| 8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|          12|
|12250000| 9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|           7|
|12215000| 7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|           8|
|11410000| 7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|           7|
|10850000| 7500|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|           7|
|10150000| 8580|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|          11|
|10150000|16200|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|          10|
| 9870000| 8100|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|           7|
| 9800000| 5750|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|           9|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+------------+
only showing top 10 rows

In [50]:
spark.stop()